		/* Style the footer */
		.footer {
			position: fixed;
			bottom: 0;
			width: 100%;		
			background-color: #212529;
			padding: 20px;
			display: flex;
			justify-content: space-evenly;
		}
		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			background-color: lightblue;
		}

		/* Style the header */
		.header {
			background-color: #f1f1f1;
			padding: 20px;
			text-align: center;
		}
		.footer h4{
			font-style: italic;
			color: #009999;
		}
		.flex-container{
			display: flex;
			justify-content: space-evenly;
			justify-content: space-evenly;
		}
		/* Style the top navigation bar */
		.topnav {
			overflow: hidden;
			background-color: #333;

		}

		/* Style the name on top */
		.topnav .name {
			align-self: center
			padding: 50px
			color: red;
		}
		/* Style the topnav links */
		.topnav a {
			float: left;
			display: flex;
			justify-content: flex-end;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		/* Change color on hover */
		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}
		/* Style the navigation*/
		.navigation-links {
		align-self: center
			}
		
		.btn btn-info{
			display: flex;
			align: left;
			
		}


		/* Positioning photo properly */
		#photo{
			margin-top: 75px;
			margin-bottom: 75px;	
		}
		#myphoto{
			margin-top: 75px;
			margin-bottom: 75px;	
		}			
		.main-content h3{
			margin-top: 5rem;
			text-align: center;
			font-style: italic;
			color: #009999;
		}
		.page-content{
			text-align: justify;
			text-indent: 1rem;
			margin-top: 3rem;
		}
		.page-content h3{
			color: #009999;
		}
		.table.table-bordered  {
			margin-top: 3rem;
		}
		.table-bordered td{
			border-color: #347cbb;
			border-style: solid;
			font-weight: bold;
			text-align: center;
		}
		#skills{
			text-align: center;
			margin-top: 3rem;
		}
		#contact-details{
			text-align: center;
			margin-top: 10rem;
		}
		.col-sm-4 p{
			text-align: justify;
				
		}
		.col-sm-4 h5{
			color: #009999;
		}
		

